body {
    overflow-x: hidden;
}

#room {
    border: black 1px solid;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.peer {
    position: absolute;
    z-index: 1;
}

.video-wrapper {
    border: black 2px solid;
    border-radius: 50%;
    overflow: hidden;
}

.video-wrapper video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
}

.under-wrapper video {
    transform: translateX(-50%);
}